{
  "id": "{{service.name}}",
  "cpus": {{service.cpus}},
  "mem": {{service.mem}},
  "instances": 1,
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "{{resource.assets.container.docker.rabbitmqimage}}",
      "network": "BRIDGE"
    },
    "portMappings": [
      {
        "containerPort": 5672,
        "hostPort": 0,
        "labels": {
          "VIP_0": "/{{service.name}}:5672"
        },
        "name": "amqp",
        "protocol": "tcp"
      },
      {
        "containerPort": 15672,
        "hostPort": 0,
        "name": "management",
        "protocol": "tcp"
      }
    ]
  },
  "labels": {
    {{#networking.virtual-host}}
    "HAPROXY_GROUP":"external",
    "HAPROXY_1_VHOST":"{{networking.virtual-host}}",
    "HAPROXY_1_REDIRECT_TO_HTTPS": "{{networking.https-redirect}}",
    {{/networking.virtual-host}}
    "MARATHON_SINGLE_INSTANCE_APP": "true"
  },
  "upgradeStrategy":{
    "minimumHealthCapacity": 0,
    "maximumOverCapacity": 0
  }
}
